.app-wrapper {
    /*margin: -100 auto;*/
    margin: 0;
    display: grid;
    width: 100%;

    grid-template-areas: "h h" "n c";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 7fr;
    /* grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background: burlywood;

}