
.nav {
    grid-area: n;
    background: bisque;
}

.item {
    padding-left: 20px;
    padding-top: 20px;


}

.item a {
    color: Black;
    text-decoration: none;
}

.item .active {
    color: Red;
}

.sidebar {
    margin-top: 50px;
}